<button mat-raised-button (click)="addFood()">+ food</button>

<div *ngIf="displayAdd">
  <h3>Add Food</h3>
  <mat-horizontal-stepper [linear]="false">
    <mat-step [stepControl]="chooseFoodFormGroup">
      <form [formGroup]="chooseFoodFormGroup">
        <ng-template matStepLabel>choose food</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>food</mat-label>
          <input matInput placeholder="food" [(ngModel)]="food" formControlName="chooseFoodFormCtrl">
        </mat-form-field>
        <span *ngIf="displayFoodDropdown">
            <mat-form-field [floatLabel]="'always'">
              <mat-label>food option</mat-label>
              <mat-select [(ngModel)]="chosenFood" formControlName="chooseFoodNameFormCtrl">
                <mat-option *ngFor="let food of queriedFoods" [value]="food">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        <div *ngIf="!displayFoodDropdown">
          <button mat-button (click)="submitFoodName()">Next</button>
        </div>
        <div *ngIf="chosenFood">
          chosen food: {{chosenFood.name}}
          <button mat-button matStepperNext (click)="getMeasures()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="chooseMeasureFormGroup">
      <form [formGroup]="chooseMeasureFormGroup">
        <ng-template matStepLabel>choose measure</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>measure</mat-label>
          <mat-select [(ngModel)]="measure" formControlName="chooseMeasureFormCtrl">
            <mat-option *ngFor="let measure of measures" [value]="measure">
              {{measure.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="measure">
          chosen measure: {{measure.label}}
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="chooseQuantityFormGroup">
      <form [formGroup]="chooseQuantityFormGroup">
        <ng-template matStepLabel>choose quantity</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>quantity</mat-label>
          <input matInput placeholder=1 [(ngModel)]="quantity" formControlName="chooseQuantityFormCtrl">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>review</ng-template>
      <div *ngIf="chosenFood && measure">
          <div>food = name: {{chosenFood.name}} | group: {{chosenFood.group}} | ndbno: {{chosenFood.ndbno}}</div>
          <div>measure = label: {{measure.label}} | eqv: {{measure.eqv}} | eunit: {{measure.eunit}} | value: {{measure.value}}</div>
          <div>quantity = {{quantity}}</div>
      </div>
      <div>
          <button mat-button matStepperNext (click)="add()">Submit</button>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>