<button mat-raised-button (click)="displayAddFood()">+ food</button>

<div *ngIf="shouldDisplayAdd">
  <h3>Add Food</h3>
  <app-time-picker (dateSet)="setDate($event)" (mealSet)="setMeal($event)"></app-time-picker>

  <mat-horizontal-stepper [linear]="false">
    <mat-step [stepControl]="chooseFoodFormGroup">
      <form [formGroup]="chooseFoodFormGroup">
        <ng-template matStepLabel>choose food</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>food</mat-label>
          <input matInput placeholder="food" formControlName="chooseFoodQueryFormCtrl">
        </mat-form-field>
        <span *ngIf="shouldDisplayDropdowns">
          <mat-form-field [floatLabel]="'always'">
            <mat-label>food option</mat-label>
            <mat-select (selectionChange)="filterFoodGroups($event)" formControlName="chooseFoodNameFormCtrl">
              <mat-option></mat-option>
              <mat-option *ngFor="let food of queriedFoods" [value]="food" [matTooltip]="food.name">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label>food group option</mat-label>
            <mat-select (selectionChange)="filterFoods($event)" formControlName="chooseFoodGroupFormCtrl">
              <mat-option></mat-option>
              <mat-option *ngFor="let group of queriedFoodGroups" [value]="group">
                {{group}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <div *ngIf="!shouldDisplayDropdowns">
          <button mat-button (click)="submitFoodName()">Next</button>
        </div>
        <div *ngIf="chosenFood">
          chosen food: {{chosenFood.name}}
          <button mat-button matStepperNext (click)="getMeasures()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="chooseMeasureFormGroup">
      <form [formGroup]="chooseMeasureFormGroup">
        <ng-template matStepLabel>choose measure</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>measure</mat-label>
          <mat-select formControlName="chooseMeasureFormCtrl">
            <mat-option *ngFor="let measure of measures" [value]="measure">
              {{measure.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="chosenMeasure">
          chosen measure: {{chosenMeasure.label}}
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="chooseQuantityFormGroup">
      <form [formGroup]="chooseQuantityFormGroup">
        <ng-template matStepLabel>choose quantity</ng-template>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>quantity</mat-label>
          <input matInput placeholder=1 formControlName="chooseQuantityFormCtrl">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>review</ng-template>
      <div *ngIf="chosenFood && chosenMeasure">
        <h5>new food entry: {{chosenFood.name}}</h5>
        <div>group: {{chosenFood.group}}</div>
        <div>measure: {{chosenMeasure.value}} calories per {{chosenMeasure.label}} ({{chosenMeasure.eqv}}
          {{chosenMeasure.eunit}})</div>
        <div>quantity: {{chosenQuantity}}</div>
      </div>
      <div>
        <button mat-button matStepperNext (click)="add()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>