<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      creds
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list>
    <h3 mat-subheader>Icons</h3>
    <mat-list-item>
      Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </mat-list-item>
    <mat-list-item>
      Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </mat-list-item>
    <h3 mat-subheader>Food and nutrition data</h3>
    <mat-list-item>
      U.S. Department of Agriculture, Agricultural Research Service. 20xx. USDA National Nutrient Database for
      Standard Reference, Release . Nutrient Data Laboratory Home Page, http://www.ars.usda.gov/nutrientdata
    </mat-list-item>
    <mat-list-item>
      U.S. Department of Agriculture, Agricultural Research Service. 20xx. USDA Branded Food Products Database .
      Nutrient Data Laboratory Home Page, http://ndb.nal.usda.gov
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>