
  <form [formGroup]="form">
      <div class="userInfo">
    <div>
      <mat-form-field class="input">
        <mat-label>
          <mat-icon>email</mat-icon>
          Email
        </mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input">
        <mat-label>
          <mat-icon>dialpad</mat-icon>
          Password
        </mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
  </div>
  </form>
  <div class="action">
    <button mat-raised-button color="primary" (click)="submit()">{{type}}</button>
  </div>
