<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      records
    </mat-panel-title>
    <button mat-button *ngIf="!shouldDisplayAdd" (click)="displayAddFood()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-expansion-panel-header>

  <span *ngIf="shouldDisplayAdd">
    <app-add-record (dateEmitter)="setDate($event)" (mealEmitter)="setMeal($event)" (addFoodEmitter)="record($event)"></app-add-record>
  </span>

  <div *ngFor="let day of dayRecords">
    <app-day-record [day]="day" (getAllEmitter)="getAll()"></app-day-record>
  </div>

</mat-expansion-panel>