table {
    width: 100%;
    border-spacing: 0px;
    border-color: grey;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
    border: 2px solid black;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
    align-items: center;
}

.element-detail {
    overflow: hidden;
    display: flex;
    padding-bottom: 20px;
}

.mat-column-delete {
    width: 60px;
}

.mat-column-expand {
    width: 60px;
}

.mat-elevation-z8 {
    margin: 10px;
}