<button mat-button *ngIf="!shouldDisplayFilters" (click)="toggleDisplayFilters()">
  <mat-icon>filter_list</mat-icon>
</button>

<span *ngIf="shouldDisplayFilters">
  <!-- 
    date picker
   -->
  <button mat-button (click)="toggleSort()">
    <mat-icon>sort</mat-icon>
  </button>
  <mat-form-field [floatLabel]="'always'">
    <mat-label>sort by</mat-label>
    <mat-select (selectionChange)="onSortTypeChange($event)" formControlName="chooseSortFormCtrl">
      <mat-option></mat-option>
      <mat-option *ngFor="let sort of sortTypes" [value]="sort">
        {{sort}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>