<h1>Food Diary</h1>
  
  <div id="time-selector">
    <h3>Time</h3>
    <div>
      <mat-radio-group [(ngModel)]="meal">
        <mat-radio-button *ngFor="let meal of meals" [value]="meal">
          {{meal}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  
    <div>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>day</mat-label>
          <mat-select [placeholder]="getCurrentDay()" [(ngModel)]="day">
            <mat-option *ngFor="let day of days" [value]="day">
              {{day}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label>month</mat-label>
        <mat-select [placeholder]="getCurrentMonth()" [(ngModel)]="month">
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{month.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label>year</mat-label>
        <mat-select [placeholder]="getCurrentYear()" [(ngModel)]="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div>
    <button mat-raised-button *ngIf="!displayAdd()" (click)="addFood()">+ food</button>
    <div id="food-selector" *ngIf="displayAdd()">
      <h3>Food</h3>

      <mat-radio-group [(ngModel)]="foodGroup">
        <mat-radio-button *ngFor="let foodGroup of foodGroups" [value]="foodGroup">
          {{foodGroup}}
        </mat-radio-button>
      </mat-radio-group>

      <input matInput placeholder="food" [(ngModel)]="food">

      <input matInput placeholder=1 [(ngModel)]="quantity">

      <button mat-raised-button (click)="record()" [disabled]="!fieldsFilled()">
          record
      </button>
    </div>

  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        food history
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let record of records">
        {{record.date | date}} - {{record.meal}} - {{record.food.value}} ({{record.food.foodGroup}}) - {{record.quantity}}
      </li>
    </ul>
  </mat-expansion-panel>

  <!--button mat-raised-button (click)="delete()">delete</button-->
